
  %entry-tags {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0 2px 2px 0;
    padding: 4px rem(7px);
    border: 2px solid rgba(119,119,119,0.2);
    border-radius: 3px;
    text-transform: uppercase;
    color: $text-color;
    letter-spacing: -.0275em;
    line-height: 1;
    font-size: .8rem;
}