/* ============================================================
  Archive Blogs
============================================================ */
.analytica-author-box{
	img.avatar {
	    border-radius: 50%;
	    margin: 0 0 0 20px;
	}
}

@media (min-width: $col-md) {
	.analytica-author-box{
		display: flex;
	}
	.analytica-author-bio{
		flex:1;
	}
}

@media (max-width: $mx-col-md) {
	.analytica-author-box{
		img.avatar {
		    margin: 20px 0 0 0;
		}
	}
}

.analytica-separate-container {
	.analytica-author-box{
		background-color: $color-background-page-header;
		padding-bottom: 0;
		border-bottom: 0;
	}
}


@media (min-width: $col-xl) {
	.analytica-separate-container{
		.analytica-author-box{
		    margin: 0;
		    padding: 5em 6.67em 3.33333em;
		}
	}
}