/**
 *  Blog Common
 */

.page .entry-header {
	margin-bottom: 1.5em;
}

.search .entry-header {
    margin-bottom: 1em;
}

.ast-single-post .entry-header {
		&.ast-header-without-markup,
		&.ast-no-title.ast-no-thumbnail {
			margin-bottom: 0;
		}
}

.entry-header {
    margin-bottom: 1em;
    word-wrap: break-word;
    + .ast-blog-featured-section{
    	margin-top:0.5em;
    }
}

.entry-content {
	word-wrap: break-word;
	p {
		margin-bottom: 1.6em;
	}
}

.read-more {
	margin-bottom: 0;
	.ast-right-arrow {
		font-size: 1em;
	}
}

.ast-no-thumb {
	.ast-blog-featured-section {
		margin-bottom: 0;
	}
	.entry-header {
		+ .ast-blog-featured-section{
			margin-top:0;
		}
	}
}

.ast-blog-featured-section {
	margin-bottom: 1.5em;

	.gallery {
		margin-bottom: 0;
	}
}

.error404 .page-header {
    margin-bottom: 1.5em;
	.page-title {
    	margin-bottom: 0;
	}
}

.blog, 
.archive,
.search {
	.entry-title {
		line-height: 1.3;
	}
}

.blog .format-status .entry-title,
.archive .format-status .entry-title,
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.page-title {
    margin-bottom: 1em;
    font-weight: normal;
}

.entry-title {
    margin-bottom: 0.2em;
}

.ast-article-post {
    margin-bottom: 2.5em;
}
.ast-article-post:last-child {
	margin-bottom: 0;
	border-bottom:0;
}

.search .site-content .search-form {
    margin-bottom: 3em;
}

.blog-layout-1 {

    /* 2 - Blog Thumbnail Styles */
    .post-thumb {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
}

#content { 
	content: "768";
}

@media all and ( max-width: 768px ) {
	#content {
		content: "";
	}
}