/**
 *  Blog Common
 */

.analytica-article-post {
	margin-bottom: $grid-gutter-width;
	padding-bottom: $grid-gutter-width-half;

	&.sticky {
		border-bottom: 3px solid $brand-primary;
	}

	.analytica-no-thumb {
	padding-top: $grid-gutter-width-half;
	}

	&:last-child {
		margin-bottom: 0;
		border-bottom: 0;
	}
}


.analytica-single-post .entry-header {

	&.analytica-header-without-markup,
	&.analytica-no-title.analytica-no-thumbnail {
		margin-bottom: 0;
	}
}

.entry-header {
	word-wrap: break-word;

	+.analytica-blog-featured-section {
		margin-top: 0.5em;
	}
}

.meta-sep {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;

	&:before {
		position: absolute;
		left: 50%;
		top: 70%;
		margin-left: -1px;
		margin-top: -1px;
		content: '';
		width: 2px;
		height: 2px;
		background-color: currentColor;
		border-radius: 50%;
	}
}

.entry-summary {
	margin-top: $grid-gutter-width-half;
	word-wrap: break-word;
	@include clearfix();

	p {
		margin-bottom: 1.6em;
	}
}

.read-more {
	margin-bottom: 0;

	.analytica-right-arrow {
		font-size: 1em;
	}
}

.blog,
.archive,
.search {
	.entry-title {
		line-height: 1.3;
	}
}

.blog .format-status .entry-title,
.archive .format-status .entry-title,
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.entry-title {
	margin-bottom: 0.2em;
}

.search .site-content .search-form {
	margin-bottom: $grid-gutter-width;
}

.post-thumb a {
	display: block;
}
