
$color-box-shadow-sticky-header   : rgb(220, 221, 222);		// Box Shadow color for sticky header

$color-background-body            : #ffffff;				// Background color for body
$color-background-sep-content-body:	#f5f5f5;				// Background color for separate container body
$color-background-page-header	  : #eee;					// Background color for separate container body
$color-background-screen          : #f1f1f1;				// Background color for screen reader
$color-background-hr              : #ccc;					// Background color for horizontal line
$color-background-button          : #e6e6e6;				// Background color for button
$color-background-pre             : #eee;					// Background color for preformatted text
$color-background-ins             : #fff9c0;				// Background color for text inserted into document
$color-background-top-footer      :	#333;					// Top footer background color
$color-background-bottom-footer   :	#111;					// Bottom footer background color
$color-background-header          : #fff;					// Site Header and Navigation Color
$color-background-content         : #fff;					// Site Contant background Color
$color-background-pagination      :	transparent;			// Pagination background color
$color-background-pagination-hover:	#0274be;				// Pagination background hover color
$color-background-header-submenu  : #ffffff;				// Site Header and Navigation Color
$color-background-toggle-menu     :	#303030;				// Toggle menu background color
$color-background-active          : #0274be;				// Active element background color
$color-background-nav-mobile      : #f9f9f9;				// Mobile Navigation background color

$color-site-title                 : #222;					// Site Title color
$color-site-tagline               : #999;					// Tagline text color
$color-text-screen                : #21759b;				// Screen reader text color
$color-text-input                 : #666;					// Input box text color
$color-text-input-focus           : #111;					// Input box text color on focus event
$color-text-main                  : #3a3a3a;				// Text color
$color-text-pagination            : #000;					// Pagination text color
$color-link                       : #0274be;				// Link Color
$color-link-visited               : #0274be;				// Link Visited Color
$color-link-hover                 : #3a3a3a;				// Link Hover Color
$color-title-bar-divider          : #A9A9A9;				// Title Bar divider color
$color-widget-active              :	#414042;				// Widget active link color
$color-widget-calendar-months     :	#AEAEAE;				// Calender Widget months color

$color-border-submenu             : #eaeaea;				// Submenu border color
$color-border-button              : #eaeaea;				// Button border color
$color-border-button-hover        : #eaeaea;				// Button border color for hover event
$color-border-button-focus        : #eaeaea;				// Button border color for focus & active event
$color-border-input               : #eaeaea;				// Input box, textarea border color
$color-border-abbr                : #666;					// Abbreviation tag bottom border color
$color-border-toggle-menu         :	#4C4A4A;				// Toggle menu border color
$color-border-widget              :	#eaeaea;				// Widget border color
$color-border-dotted-widget       :	#e2e2e2;				// Widget dotted border color
$color-border-pagination          :	#eaeaea;				// Pagination background hover color
$color-border-gallery             :	#eaeaea;				// Pagination background hover color
$color-border-content      		  :	#eeeeee;				// Content boder bottom color

$footer-background-color          : #3a3a3a;
$footer-text-color                : #fff;
$footer-link-color                : #eaeaea;
$footer-link-hover-color          : #fff;
$footer-widget-title-color        : #fff;
