/*----------  Media Query min-width Structure   ----------*/

$col-xl: 1201px;
$col-lg: 993px;
$col-md: 769px;
$col-sm: 545px;
$col-xs: 421px;

/*----------  Media Query max-width Structure   ----------*/

$mx-col-xl: 1200px;
$mx-col-lg: 992px;
$mx-col-md: 768px;
$mx-col-sm: 544px;
$mx-col-xs: 420px;

/*----------  Break-point min-width Structure   ----------*/
$break-point: 921px;

/*----------  Break-point max-width Structure   ----------*/
$mx-break-point: 920px;