/**
 * 	Header Layouts
 *
 * @import
 * 1 - Header Layout 1
 * 2 - Header Layout 2
 * 3 - Header Layout 3
 * 4 - Header Inline Logo & Site Title 
 * 5 - Next Button Menu Item
 * 6 - Responsive Style
*/

/* 4 - Next Button Menu Item */
.main-header-bar {
	z-index: 1;
}

/**
 * 1 - Header Layout 1
*/
.header-main-layout-1 {
	.main-header-bar-navigation {
		text-align: right;
		.sub-menu,
		.children {
			text-align: left;
		}
	}
	.main-navigation {
		padding-left: 15px;
		vertical-align: top;
	}
}
.ast-header-break-point {
	.header-main-layout-1 {
		.site-branding{
			padding-right: 1em;
		}
		.main-header-bar-navigation {
			text-align: left;
		}
		.main-navigation {
			padding-left: 0;
		}
	}
}

/**
 * 2 - Header Layout 2
*/
.header-main-layout-2 {
	.main-header-container {
		display: block;
	}
	.site-branding {
		text-align: center;
		padding-bottom: 1em;
	}
	.site-title {
		justify-content: center;
	}
	.main-navigation {
		ul{
			justify-content: center;
		}
	}
	.main-header-bar-navigation {
		text-align: center;
		.sub-menu,
		.children {
			text-align: left;
		}
	}
	.ast-header-custom-item{
		justify-content: center;
		line-height: 1.85714285714286;
	}
	.ast-masthead-custom-menu-items{
		position: relative;
	}
	.widget{
		text-align: center;
	}
}

.ast-header-break-point {
	.header-main-layout-2 {
		.site-branding{
			display: block;
		}
		.ast-mobile-menu-buttons{
			text-align: center;
			display: block;
		}
		.site-branding,
		.ast-mobile-menu-buttons {
			padding-bottom: 1em;
		}
		.main-header-bar {
	    	padding: 1em 0 0;
	    }
	    .main-header-bar-navigation,
	    .widget {
			text-align: left;
		}
	}
}

/**
 *  3 - Header Layout 3
*/
.header-main-layout-3 {
	.main-header-container	{
		  flex-direction: row-reverse;
	}
	.main-navigation {
		padding-right: 15px;
		ul {
			justify-content: flex-start;
		}
	}
	.main-header-bar-navigation {
		text-align: left;
	}
	.ast-header-custom-item{
		justify-content: flex-start;
	}
	.ast-masthead-custom-menu-items{
		position: relative;
	}
	.ast-search-menu-icon form{
		padding: 0 0 0 3em;
	}
	li .ast-search-icon{
		padding-left: .5em;
	}
	.ast-search-menu-icon {
    	left: 0;
    	right: 0;
    }
	li .ast-search-menu-icon {
		left: 1em;
		right: 0;
	}
}

.ast-header-break-point {
	.header-main-layout-3 {
		.ast-mobile-menu-buttons {
			justify-content: flex-start;
		}
		li .ast-search-menu-icon {
			left: 0;
		}
		.site-branding{
			padding-left: 1em;
			justify-content: flex-end;
		}
		.main-navigation {
			padding-right: 0;
		}
	}
}

/**
 * 4 - Header Inline Logo & Site Title 
*/
.ast-logo-title-inline{
	.ast-site-identity {
	    display: inline-flex;
	    vertical-align: middle;
	    align-items: center;
	}
	.site-logo-img{
		padding-right: 1em;
	}
	&.header-main-layout-2{
		.site-logo-img + .ast-site-title-wrap .site-title{
			justify-content: flex-start;
		}
	}
}

/* Mobile Header Alignment */
@media (max-width: $mx-col-sm) {
	.ast-header-break-point {
		.site-branding,
		#masthead .site-logo-img .custom-logo-link{
			img{
				max-width: 100%;
			}
		}
		.ast-mobile-header-inline {
			.main-header-container {
				display: flex;
			}
			.site-branding {
				text-align: left;
			}

			.site-title {
				justify-content: left;
			}
		}
		.ast-mobile-header-stack {
			.main-header-bar{
				padding: 1em 0 0;
			}
			.main-header-container {
				display: block;
			}
			.site-title {
				justify-content: center;
				text-align: center;
			}
			.site-branding,
			.ast-mobile-menu-buttons {
				justify-content: center;
				text-align: center;
				padding-bottom: 1em;
				padding-right: 0;
			}
		}

		.ast-logo-title-inline{
			.ast-site-identity {
		    	display: block;
		    }
		    .site-logo-img{
				padding-right: 0;
			}
		}
	}
}