// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.analytica-container {
    @include make-container();
    @include make-container-max-widths();
  
  }
  
  
  // Fluid container
  //
  // Utilizes the mixin meant for fixed width containers, but without any defined
  // width for fluid, full width layouts.
  
  .analytica-container-fluid {
    @include make-container();
  }
  
  
  // Row
  //
  // Rows contain and clear the floats of your columns.
  
  @if $enable-grid-classes {
    .analytica-row {
      @include make-row();
    }
  }
  
  
  // Columns
  //
  // Common styles for small and large grid columns
  
  @if $enable-grid-classes {
    @include make-grid-columns();
  }
  
  
  // Flex variation
  //
  // Custom styles for additional flex alignment options.
  
  @if $enable-flex and $enable-grid-classes {
  
    // Flex column reordering
  
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        .analytica-col-#{$breakpoint}-first { order: -1; }
        .analytica-col-#{$breakpoint}-last  { order: 1; }
      }
    }
  
    // Alignment for every column in row
  
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        .analytica-row-#{$breakpoint}-top    { align-items: flex-start; }
        .analytica-row-#{$breakpoint}-center { align-items: center; }
        .analytica-row-#{$breakpoint}-bottom { align-items: flex-end; }
      }
    }
  
    // Alignment per column
  
    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
        .analytica-col-#{$breakpoint}-top    { align-self: flex-start; }
        .analytica-col-#{$breakpoint}-center { align-self: center; }
        .analytica-col-#{$breakpoint}-bottom { align-self: flex-end; }
      }
    }
  }
  