@import "../../../variables-site/structure.scss";
@import "../../../variables-site/colors.scss";
.blog-layout-1 {

    .analytica-blog-featured-section {
        margin-bottom: $grid-gutter-width-half;
    }

	.post-thumb,
	.post-content {
		position: relative;
		@include clearfix();
	}
}

.site-container-detach {
	.blog-layout-1 {
		border-bottom: 0;
	}
}
