@import "../../../variables-site/structure.scss";
@import "../../../variables-site/colors.scss";
.blog-layout-1 {
    margin-bottom: 3.0rem;
    
    .entry-header {
        margin-top: 2.5rem;
    }

	.post-thumb,
	.post-content {
		position: relative;
		@include clearfix();
	}
}

.site-container-detach {
	.blog-layout-1 {
		border-bottom: 0;
	}
}
