// Page header
// -------------------------
.site-hero {
	position: relative;
	margin: 0;
	min-height: ( $grid-gutter-width * 2);
	border: none;
	@media (min-width: $screen-sm-min) {
		min-height: $grid-gutter-width;
	}

	.site-hero-background {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: inherit;
	}
	&.site-hero-height-full,
	&.site-hero-height-full .site-hero-wrapper {
		height: 100vh;
	}
	.site-hero-wrapper {
		display: flex;
		align-items: center;
		padding: $grid-gutter-width-half 0;
		z-index: 2;
		position: relative;

		@media (min-width: $screen-md-min) {
			padding: $grid-gutter-width 0;
		}
		.page-title-inner {
			position: relative;
			width: 100%;
		}
		.breadcrumb {
			display: inline-block;
            padding: 4px 0;
		}
	}
    .text-center .breadcrumb {
	    padding: 4px 15px;
	}

	.base-color-light {
		&,
		a {
			border-color: #fff;
			color: #fff;
		}
	}

}

@media (min-width: $screen-md-min) {
	.site-hero,
	.site-hero-wrapper {
		min-height: 150px;
	}
}

@media (max-width: $screen-sm-max) {
	.site-hero,
	.site-hero-wrapper {
		min-height: auto;
	}
	.site-hero-wrapper .site-hero-header {
		@include font-size( 2.5 );
	}
	.site-hero-wrapper .site-hero-subheader {
		@include font-size( 1.6 );
	}
}
