/**
 * 2 - Social Follow
 */
.ast-social-icons {
    list-style-type: none;
    margin: 0;
    li {
        display: inline-block;
        padding-right: 15px;
        
        &:last-child {
            padding-right: 0;
        }
    }

    a {
        display: block;
    }

    i {
        font-style: normal;
        font-family: fontawesome;
        font-weight: normal;
        &:before {
            font-weight: normal;
        }
    }
}
