// ## Structure and Layout
// ### Site Containers
.site {
	overflow: hidden;
}

.site-boxed .site-container {
    @include make-container-max-widths();
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content-sidebar-sidebar .site-inner > .analytica-container,
.content-sidebar .site-inner > .analytica-container,
.sidebar-content-sidebar .site-inner > .analytica-container,
.sidebar-content .site-inner > .analytica-container,
.sidebar-sidebar-content .site-inner > .analytica-container {
	flex-direction: column;
	display: flex;

	@media (min-width: $screen-md-min) {
		flex-direction: row;
	}

	.sidebar-primary {
		flex-direction: column;
	}

	.sidebar-secondary {
		flex-direction: column;
	}
}

.content-sidebar .site-inner > .analytica-container,
.content-sidebar-sidebar .site-inner > .analytica-container {
	flex-direction: row-reverse;
}

.content-sidebar-sidebar .site-inner > .analytica-container,
.content-sidebar .site-inner > .analytica-container {
	.site-main-inner {
		@media (min-width: $screen-md-min) {
			padding-right: $grid-gutter-width-half;
		}
	}

	.widget-area-inner {
		@media (min-width: $screen-md-min) {
			padding-left: $grid-gutter-width-half;
		}
	}
}

.sidebar-content-sidebar .site-inner > .analytica-container,
.sidebar-content .site-inner > .analytica-container,
.sidebar-sidebar-content .site-inner > .analytica-container {
	.site-main-inner {
		@media (min-width: $screen-md-min) {
			padding-left: $grid-gutter-width-half;
		}
	}

	.widget-area-inner {
		@media (min-width: $screen-md-min) {
			padding-right: $grid-gutter-width-half;
		}
	}
}

.site-boxed .site-inner > .analytica-container {
    padding-left: 0;
    padding-right: 0;
}

.site-main {
	width: 100%;
}
