// ## Structure and Layout
// ### Site Containers
.site {
	overflow: hidden;
}

.site-boxed .site-container {
	@include make-container-max-widths();

}
.site-boxed.site-mono-container .site-container {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content-sidebar-sidebar .site-inner > .analytica-container,
.content-sidebar .site-inner > .analytica-container,
.sidebar-content-sidebar .site-inner > .analytica-container,
.sidebar-content .site-inner > .analytica-container,
.sidebar-sidebar-content .site-inner > .analytica-container {
	flex-direction: column;
	display: flex;
    flex-wrap: wrap;
	@media (min-width: $screen-md-min) {
		flex-direction: row;
	}

	.sidebar-primary {
		flex-direction: column;
	}

	.sidebar-secondary {
		flex-direction: column;
	}
}

.content-sidebar .site-inner > .analytica-container,
.content-sidebar-sidebar .site-inner > .analytica-container {
	flex-direction: row-reverse;
}

.content-sidebar-sidebar .site-inner > .analytica-container,
.content-sidebar .site-inner > .analytica-container {
	.site-main-inner {
		@media (min-width: $screen-md-min) {
			margin-right: $grid-gutter-width-half;
		}
	}

	.widget-area-inner {
		@media (min-width: $screen-md-min) {
			padding-left: $grid-gutter-width-half;
		}
	}
}

.sidebar-content-sidebar .site-inner > .analytica-container,
.sidebar-content .site-inner > .analytica-container,
.sidebar-sidebar-content .site-inner > .analytica-container {
	.site-main-inner {
		@media (min-width: $screen-md-min) {
			margin-left: $grid-gutter-width-half;
		}
	}

	.widget-area-inner {
		@media (min-width: $screen-md-min) {
			padding-right: $grid-gutter-width-half;
		}
	}
}

.site-inner > .analytica-container {
    padding: $grid-gutter-width $grid-gutter-width-half;
}

.site-main {
	width: 100%;
}
