@import "flex";
@import "content";

.analytica-container {
	margin-right: auto;
	margin-left: auto;
}

.has-container>.analytica-container {
	@extend %container;
}

.site-container-detach {
	background-color: $color-background-sep-content-body;

	.hero {
		margin-top: $grid-gutter-width;
	}

	.analytica-article-post,
	.analytica-article-single {
		background-color: $color-background-content;
        margin: 0 0 $grid-gutter-width 0;
        .entry-summary,
		.entry-content {
			padding-top: $grid-gutter-width;
			padding-bottom: $grid-gutter-width;
		}

		.entry-title {
			margin-bottom: .2em;
		}

        .entry-summary,
        .entry-content,
        .entry-header,
		.analytica-single-post-order {
			padding-left: $grid-gutter-width;
			padding-right: $grid-gutter-width;
		}
	}

	.analytica-article-single {
        border-bottom: 0;
        .entry-header {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media (max-width: $mx-col-xl) {
		.analytica-article-post,
		.analytica-article-single {
			margin: 0;
			padding: 3.34em 2.4em;
		}
	}
	@media (max-width: $mx-col-md) {
		.analytica-article-post,
		.analytica-article-single {
			padding: 0 0 1.5em 0;
		}
	}
	@media (max-width: $mx-col-sm) {
		.analytica-article-post,
		.analytica-article-single {
			padding: 0 0 1.5em 0;
		}
	}
}

.site-dual-containers {
	.site-main-inner,
	.site-sidebar .widget-area-inner {
		padding: $grid-gutter-width;
	}
}