@import "flex";
@import "content";

.entry-summary,
.entry-content {
	@include clearfix;
}

.single-post.site-mono-container {
	.entry-content {
		padding: $grid-gutter-width 0;
	}
}

.site-container-detach {
	background-color: $color-background-sep-content-body;

	.site-hero {
		margin-top: $grid-gutter-width;
	}

	.analytica-article-post {
		background-color: $color-background-content;
		margin: 0 0 $grid-gutter-width 0;

		.entry-summary {
			padding-bottom: $grid-gutter-width;
		}

		.entry-title {
			margin-bottom: .2em;
		}

		.entry-summary,
		.entry-header,
		.analytica-single-post-order {
			padding-left: $grid-gutter-width;
			padding-right: $grid-gutter-width;
		}
	}

	.analytica-article-single {
		background-color: $color-background-content;
		margin-bottom: $grid-gutter-width;

		.entry-header {
			padding: $grid-gutter-width;
			padding-bottom: 0;
		}

		.entry-content {
			padding: $grid-gutter-width;
			padding-top: $grid-gutter-width-half;
		}
	}

	@media (max-width: $mx-col-xl) {
		.analytica-article-post,
		.analytica-article-single {
			margin: 0;
			padding: 3.34em 2.4em;
		}
	}
	@media (max-width: $mx-col-md) {
		.analytica-article-post,
		.analytica-article-single {
			padding: 0 0 1.5em 0;
		}
	}
	@media (max-width: $mx-col-sm) {
		.analytica-article-post,
		.analytica-article-single {
			padding: 0 0 1.5em 0;
		}
	}
}

.site-dual-containers {
	.site-main-inner,
	.site-sidebar .widget-area-inner {
		padding: $grid-gutter-width;
	}

	.analytica-article-single {

		.single-layout-1 {
			padding-bottom: $grid-gutter-width;
		}

		.entry-content {
			padding-top: $grid-gutter-width;
		}
	}
}
