// # Site Footer
.site-footer {

	&-widgets {
		// # Site Footer Widgets
		padding: $grid-gutter-width 0;

		p:last-child,
		table {
			margin-bottom: 0;
		}
		.section-title {
			margin-top: 0;
		}
	}

	&-footer-menu {
		// # Site Footer Menu
		padding: $grid-gutter-width-half / 2;
	}

	&-fullwidth {
		.analytica-col-md-12 {
			padding: 0;
			max-width: 100%;
		}
		.analytica-container {
			max-width: none;
		}
	}

	a {
		color: inherit;
	}

	.nav--toolbar {
		display: table;
		margin: 0 auto;
	}

	.widget {
		margin-bottom: $grid-gutter-width-half;
		&.widget_qazana-library {
			margin-bottom: 0;
		}
		&:last-child {
			@media (min-width: $screen-md-min) {
				margin-bottom: 0;
			}
		}
	}
	.widget-area .widget-title-wrap {
		margin-top: 0;
	}
}

.site-colophon {
	padding: $grid-gutter-width-half 0;
	&-fullwidth .analytica-container {
		max-width: none;
	}
}

.site-creds span {
	text-transform: none;
}

// #Back to Top
#gototop {
	position: fixed;
	right: 30px;
	bottom: -112px;
	z-index: 999;
	overflow: hidden;
	width: 30px;
	height: 30px;
	border-radius: $btn-border-radius-base;
	border: 2px solid $border-color;
	line-height: 30px;
	cursor: pointer;
	transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out, bottom .7s ease-in-out;
	&.back-to-top--visible {
		bottom: 30px;
	}
	a {
		display: none;
	}
	&:hover {
		background-color: #ffffff;
		box-shadow: inset 0 0 0 2px #ffffff;
	}
	&:hover .cross span {
		background-color: #ffffff;
	}
	&:hover .ricon-arrow-top {
		color: #080810;
		animation: toTopFromBottom .5s forwards;
	}
	.cross {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.cross .bloc-h {
		top: 50%;
		left: 0;
		margin-top: -8px;
		width: 30px;
		height: 16px;
	}
	.cross .bloc-v {
		top: 0;
		left: 50%;
		margin-left: -8px;
		width: 16px;
		height: 30px;
	}
	.ricon-arrow-top {
		position: absolute;
		top: 0;
		color: $border-color;
		transition: color .5s ease-in-out;
		&:before {
			display: block;
			width: 27px;
			height: 25px;
			line-height: 27px;
			content: '\e900';
			text-align: center;
			text-transform: none;
			font-weight: normal;
			font-style: normal;
			font-variant: normal;
			font-size: 10px;
			font-family: 'energia-icons' !important;
			transform: rotate(90deg);
			speak: none;
		}
	}
	&:hover {
		border-color: $dark;

		.ricon-arrow-top {
			color: $dark;
		}
	}

}
