// # Site Footer
.site-footer {

	&-widgets {
		// # Site Footer Widgets
		padding: $grid-gutter-width 0;

		p:last-child,
		table {
			margin-bottom: 0;
		}
		.section-title {
			margin-top: 0;
		}
	}

	&-footer-menu {
		// # Site Footer Menu
		padding: $grid-gutter-width-half / 2;
	}

	&-fullwidth {
		.analytica-col-md-12 {
			padding: 0;
			max-width: 100%;
		}
		.analytica-container {
			max-width: none;
		}
	}

	a {
		color: inherit;
	}

	.nav--toolbar {
		display: table;
		margin: 0 auto;
	}

	.widget {
		margin-bottom: $grid-gutter-width-half;
		&.widget_qazana-library {
			margin-bottom: 0;
		}
		&:last-child {
			@media (min-width: $screen-md-min) {
				margin-bottom: 0;
			}
		}
	}
	.widget-area .widget-title-wrap {
		margin-top: 0;
	}
}

.site-colophon {
	padding: $grid-gutter-width-half 0;
	border-width: 0;
	&-fullwidth .analytica-container {
		max-width: none;
	}
}

.site-creds span {
	text-transform: none;
}
