@import "../variables-site/structure";

	.footer-sml-layout-2 {
		.ast-small-footer-section-1,
		.ast-small-footer-section-2 {
			text-align: center;
		}
		
		@media (min-width: $col-md) {
			.ast-small-footer-section-1 {
			    text-align: left;
				.menu-item {
					a {
						padding: 0 1em 0 0;
					}
				}
			}
			.ast-small-footer-section-2 {
			    text-align: right;
				.menu-item {
					a {
						padding: 0 0 0 1em;
					}
				}
			}
		}
	}

.ast-header-break-point {
	.footer-sml-layout-2 {
		.ast-small-footer-section-2{
			margin-top: 1em;
		}
	}
}

@media screen and ( min-color-index:0 ) and ( -webkit-min-device-pixel-ratio:0 ) { 
    .ast-small-footer-wrap .ast-row:before { 
        display: block; 
    }
}