
// ---------- #MAIN MENU

%dropdown-arrow {
    position: relative;

    &:after {
        position: absolute;
        top: rem(32px);
        right: rem(22px);
        border: 0 solid transparent;
        border-width: rem(4px) rem(3px);
        border-top-color: currentColor;
        content: '';
    }
}

%sub-menu {
    @extend .nav;
    @extend .nav--stacked;
    display: none;
    text-align: left;
    @media (min-width: $screen-md-min) {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: rem(240px);

        & & {
            top: -1px;
            left: 100%;
        }
    }

    a {
        display: block;
    }
}

%menu-item {
    position: relative;
    text-align: left;

    &:hover > ul {
        display: block;
    }
}

%sub-menu-transition-out {
    @media (min-width: $screen-md-min) {
        left: 0;
        opacity: 0;
        transition: opacity 0.2s ease-out, visibility 0s 0.3s linear, left 0s 0.3s linear;
        pointer-events: none;
        // left: 9999em;
    }
}

%sub-menu-transition-in {
    @media (min-width: $screen-md-min) {
        opacity: 1;
        transition: opacity 0.2s ease-in;
        pointer-events: auto;
        // left: 100%;
    }
}

.sub-menu-wrapper {
    @include clearfix;
    @extend %sub-menu-transition-out;

    background: white;
    @media (min-width: $screen-md-min) {
        position: absolute;
        top: 100%;
    }
    // white-space: nowrap;

    > * {
        // white-space: normal;
        // vertical-align: top;
    }

    .hover & {
        @extend %sub-menu-transition-in;
        left: 0;
        visibility: visible;
    }

    &:empty {
        display: none !important;
    }

    .menu-item-has-children {
        position: relative;
    }

    .sub-menu {
        @extend %sub-menu-transition-out;

        background: white;
        @media (min-width: $screen-md-min) {
            position: absolute;
            top: -1px;
            border: 1px solid $border-color;
        }
    }

    > .sub-menu {
        position: static;
        display: inline-block;
        margin-top: 0;
        pointer-events: none;
    }

    .hover & .sub-menu {
        pointer-events: auto;
    }

     > .sub-menu .hover > .sub-menu,
    > .sub-menu {
        @extend %sub-menu-transition-in;
    }
}

/* # Fallback Menu
---------------------------------------------------------------------------------------------------- */
.fallback_menu .analytica_mega > li {
    position: relative;
}
