/** 
 * # Header
 * -----------------------------------------------------------------------------------------------------
 */

.site-header {
	position: relative;
	@include clearfix;
	padding: $grid-gutter-width-half 0;
}

.site-header .analytica-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	@media (min-width: $screen-md-min) {
		padding: 0;
	}
}

.site-id {
	position: relative;
	margin-right: auto;
	min-width: 10em;
}

.nav.nav-horizontal {
	@media (min-width: $screen-md-min) {
		position: relative;
		ul>li>a {
			color: #333;
		}
	}
}

.site-description {
	display: inline-block;
	vertical-align: middle;
}

.site-title {
	margin-bottom: 0;
}

.site-title a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $dark;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
    font-weight: 700;
    @include font-size( 24px );
}

.site-title a.logo {
	display: block;
	overflow: hidden;
	padding: 0;
	min-width: 300px;
	background-position: center;
	background-size: auto auto !important;
	background-repeat: no-repeat;
	text-indent: -9999em;
	line-height: 1;
}

button.menu-trigger {
	display: none;
}

/**
 * # Header
 * -----------------------------------------------------------------------------------
 */

.site-boxed.site-header-transparent.site-header .analytica-container,
.site-wide.site-header-transparent.site-header {
	background: transparent;
}

.site-header-overlay.site-header,
.site-header-transparent.site-header {
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	border: none;
	transition: .3s all;
	background-color: transparent;
}

.site-header-transparent.site-header {
	@media (min-width: $screen-sm-min) {
		position: absolute;
	}
	&,
	a,
	.site-title a,
	button,
	.fallback_menu .analytica_mega>li>a,
	.nav-primary .menu-v2>li>a,
	.nav.nav-horizontal ul>li>a,
	.nav-primary>ul>li.current-menu-ancestor>a,
	.nav-primary>ul>li.current-menu-ancestor>a .menu-title-outer,
	.nav-primary>ul>li.current-menu-item>a,
	.nav-primary>ul>li.current-menu-item>a .menu-title-outer {
		@media (min-width: $screen-sm-min) {
			color: #fff;
		}
	}
	.nav.nav-horizontal ul.sub-menu a {
		color: #333;
	}
	.page_item_has_children>a:before,
	.page_item_has_children>a:after,
	.menu-item-has-children>a:before,
	.menu-item-has-children>a:after {
		background-color: white;
	}
	ul.sub-menu {
		.page_item_has_children>a:before,
		.page_item_has_children>a:after,
		.menu-item-has-children>a:before,
		.menu-item-has-children>a:after {
			background-color: #333;
		}
	}
	.menu-trigger,
	.nav.nav-horizontal ul>li>a {
		@media (max-width: $screen-sm-min) {
			color: #333;
		}
	}
	button.menu-trigger.dl-active,
	button.menu-trigger:hover {
		color: white;
	}
}

.site-header-overlay.site-header {
	@media (min-width: $screen-sm-min) {
		position: fixed;
	}
}

.page-scrolling .site-header-overlay.site-header {
	@media (min-width: $screen-sm-min) {
		background: white;
		box-shadow: 0 1px 1px rgba(48, 48, 48, 0.12);
	}
	&,
	a,
	.site-title a,
	button,
	.fallback_menu .analytica_mega>li>a,
	.nav-primary .menu-v2>li>a,
	.nav-primary>ul>li.current-menu-ancestor>a,
	.nav-primary>ul>li.current-menu-ancestor>a .menu-title-outer,
	.nav-primary>ul>li.current-menu-item>a,
	.nav-primary>ul>li.current-menu-item>a .menu-title-outer {
		@media (min-width: $screen-sm-min) {
			color: #333;
		}
	}
	.page_item_has_children>a:before,
	.page_item_has_children>a:after,
	.menu-item-has-children>a:before,
	.menu-item-has-children>a:after {
		background-color: #333;
	}
	.menu-trigger,
	.nav.nav-horizontal ul>li>a {
		@media (min-width: $screen-md-min) {
			color: #333;
		}
	}
	ul.sub-menu {
		li:hover>a {
			color: $brand-primary;
		}
	}
}

.admin-bar .site-header-overlay.site-header {
	@media (min-width: $screen-sm-min) {
		top: 32px;
	}
}

@import '../vendor/font-awesome/variables';
@import 'navigation';
@import 'nav/nav';
@import 'nav/nav--megamenu';
@import 'nav/nav--megamenu-mobile';
@import 'nav/nav--menu-animations';
