table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%;
}
th {
	font-weight: bold;
}
th, td {
	padding: 8px;
    text-align: left;
    border-width: 0 1px 1px 0;
}