// page builder content layout
.analytica-page-builder {

    .site-inner > .analytica-container,
	.site-main-inner {
		padding: 0;
		margin: 0;
		width: 100%;
		max-width: none;
    }
	
	&.site-container-detach .analytica-article-single .single-layout-1,
    .analytica-article-single .entry-content {
		padding: 0;
    }

	.no-results {
		text-align: center;
		margin: 4em auto;
	}

	.analytica-pagination {
		padding: 2em;
	}

	.entry-header {
		&.analytica-no-title.analytica-no-thumbnail {
			margin-top: 0;
		}
		margin-top: 4em;
		margin-left: auto;
		margin-right: auto;
		padding-left: ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);

		&.analytica-header-without-markup {
			margin-top: 0;
			margin-bottom: 0;
		}

		&.analytica-no-title.analytica-no-meta {
			margin-bottom: 0;
		}

		@media (max-width: $mx-col-md) {
			margin-top: 1.5em;
		}
    }
    
    .analytica-article-single {
        margin: 0;
    }

	&.single .post-navigation {
		padding-bottom: 2em;
	}

}
