/**
 * Astra Theme compatibility with Visual Composer
 */
/*----------  Mixins  ----------*/
@import "../../mixins/mixins-master";

/*----------  Site Variables  ----------*/
@import "../../variables-site/colors";
@import "../../variables-site/structure";
@import "../../variables-site/typography";

.js_active {

 	.vc_row {
		margin-left: auto;
		margin-right: auto;
	}

 	.analytica-plain-container {

		// Removed article margin
		&.analytica-single-post {

			.entry-header {
				margin-top: 4em;
				
				&.analytica-header-without-markup {
					margin-top: 0;
					margin-bottom: 0;
				}

				&.analytica-no-title.analytica-no-meta {
					margin-bottom: 0;
				}

				@media (max-width: $mx-col-md) { 
					margin-top: 1.5em;
				}
			}

			@media (max-width: $mx-col-md) {
				#secondary {
					margin-top: 1.5em;
				}
			}
		}

	}

	.analytica-plain-container,
 	.analytica-page-builder-template {
		&.analytica-left-sidebar,
		&.analytica-right-sidebar {
			.vc_row[data-vc-full-width] {
				max-width: 100%;
				left: 0 !important;
			}
		}
	}
	
	.analytica-left-sidebar,
	.analytica-right-sidebar {
		.vc_row[data-vc-full-width] {
			max-width: 100%;
			left: 0 !important;
			padding-right: 0 !important;
			padding-left: 0 !important;
 		}
 	}
}