.customize-control-icon .icon-select {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ddd;
	max-height: 216px;
}

.customize-control-icon .icon-select label {
	display: flex;
	width: 20%;
	box-sizing: border-box;
}

.customize-control-icon .icon-select .icon-select-input {
	display: none;
}

.customize-control-icon .icon-select .icon-select-label {
	display: block;
	width: 100%;
	background-color: #f5f5f5;
	color: #555;
	border: 1px solid #ddd;
	margin: 0;
	font-size: 16px;
	height: 53px;
	line-height: 53px;
	text-align: center;
	transition: all .3s ease;
}

.customize-control-icon .icon-select .icon-select-label:hover,
.customize-control-icon .icon-select .icon-select-input:checked+.icon-select-label {
	background-color: #3498DB;
	color: #fff;
	border-color: #3498DB;
}
