/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-5 {
	animation: MenuAnimOut5 0.4s ease;
}

@keyframes MenuAnimOut5 {
	0% {}
	100% {
		transform: translateY(40%);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-5 {
	animation: MenuAnimIn5 0.4s ease;
}

@keyframes MenuAnimIn5 {
	0% {
		transform: translateY(40%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.nav-horizontal>.sub-menu.dl-animate-in-5 {
	animation: SubMenuAnimIn5 0.4s ease;
}

@keyframes SubMenuAnimIn5 {
	0% {
		transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}

.nav-horizontal>.main_menu>.sub-menu.dl-animate-out-5 {
	animation: SubMenuAnimOut5 0.4s ease;
}

@keyframes SubMenuAnimOut5 {
	0% {
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		transform: translateZ(-200px);
		opacity: 0;
	}
}
