/* Mobile Menu */

button.menu-trigger {
	display: none;
}

@media only screen and (max-width: 1024px) {

	button.menu-trigger {
		background-color: transparent;
		border-radius: 2px;
		cursor: pointer;
		display: block;
		height: 48px;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 48px;
		z-index: 10;

		>span {
			position: relative;
			width: 36px;
			height: 29px;
			display: inline-block;
			left: 0;
			top: 3px;
		}

		span span {
			display: block;
			height: 4px;
			width: 32px;
			left: 3px;
			position: absolute;
			transition: .3s all ease-in;
			background: #333;
		}

		span span:nth-child(1) {
			top: 0;
		}
		span span:nth-child(2) {
			top: 12px;
			transform-origin: left;
		}
		span span:nth-child(3) {
			top: 24px;
		}

		&.dl-active,
		&:hover {
			color: white;
			background: #333;
			span span {
				background: #fff;
			}
		}

		&.dl-active span span:nth-child(1),
		&.dl-active span span:nth-child(3) {
			transform: rotate(45deg);
			top: 14px;
		}
		&.dl-active span span:nth-child(2) {
			width: 0;
			opacity: 0;
		}
		&.dl-active span span:nth-child(3) {
			transform: rotate(-45deg);
		}
	}

	.nav-horizontal {
		margin-left: -195px;
		margin-left: auto;
		margin-top: -20px;
		max-width: 300px;
		perspective-origin: 50% 200%;
		perspective: 1000px;
		position: relative;
		z-index: 999;

		>ul,
		.dl-menu {
			width: 230px;
			right: 5px;
			top: 55px;
			background: white;
			border-top: 3px solid $brand-primary;
			position: absolute;
		}

		.submenu-clone.back {
			z-index: -1;
		}

		.dl-menu {
			opacity: 0;
			pointer-events: none;
			transform: translateY(10px);
			&.dl-menuopen {
				opacity: 1;
				pointer-events: auto;
				transform: translateY(0px);
			} // Hide the inner submenus
			&.dl-menu-toggle {
				transition: all 0.3s ease;
			}
		}

		.sub-menu li.dl-back {
			>a {
				padding-left: 25px;
				text-transform: capitalize;
			}
		}

		li.dl-back>a {
			background: rgba(0, 0, 0, 0.1);
		}

		li.dl-back:after,
		li>a:not(:only-child):after {
			position: absolute;
			top: 0;
			background-color: transparent !important;
		}

		li .sub-menu {
			display: none; // When a submenu is openend, we will hide all li siblings.
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			transform-style: preserve-3d;
		}

		li {
			border-bottom: 1px solid rgba(119, 119, 119, 0.21);
			&:last-child {
				border-bottom: none;
			}
			.has-icon .icon {
				margin-right: 5px;
			}

			a {
				display: block;
				position: relative;
				line-height: 43px;
				@include font-size( 1.4);
				padding: 0 20px;
			}
			a,
			a .menu-title-outer,
			a>span>.menu-title-outer {
				color: #333;
			}
		}

		.sub-menu>.current-menu-item:first-child:before {
			background-color: $brand-primary;
			bottom: -1px;
			content: '';
			height: 1px;
			left: 0;
			position: absolute;
			transition: all .3s;
			width: 100%;
			z-index: 1;
		}

		li>a:not(:only-child):after,
		li.dl-back:after {
			color: #000;
			content: '\e901';
			font-family: Analytica;
			font-style: normal;
			font-weight: normal;
			line-height: 40px;
			position: absolute;
			text-decoration: inherit;
			top: 0;
			transform: rotate(180deg);
		}
		li.dl-back:after {
			left: 10px;
			transform: rotate(0deg);
		}
		li>a:after {
			right: 10px;
			color: #000;
		}
		.has-icon .fa {
			margin-right: 10px;
		}
		.has-icon .menu-title-outer {
			width: 160px;
			height: 40px;
			display: inline-block;
		}
		.sub-indicator {
			width: 40px;
			height: 40px;
			display: block;
			float: right;
			font-family: Analytica;
			font-weight: normal;
			font-style: normal;
			text-decoration: inherit;
			content: '\e901';
			color: #000;
		}

		>.menu,
		>.sub-menu {
			&:after {
				content: '';
				position: absolute;
				top: -10px;
				right: 10px;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid $brand-primary;
			}

			&.dl-menuopen {
				box-shadow: 0 0 35px -1px rgba(0, 0, 0, 0.2);
				border-radius: 0 0 2px 2px;
			}
		}
	}

	.no-touch .nav-horizontal li a:hover {
		background: rgba(255, 248, 213, 0.1);
	} // For that we give a class to the parent menu called "dl-subview".
	// We also hide the submenu link.
	// The opened submenu will get the class "dl-subviewopen".
	// All this is done for any sub-level being entered.
	.dl-menu.dl-subview li,
	.dl-menu.dl-subview li.dl-subviewopen>a,
	.dl-menu.dl-subview li.dl-subview>a {
		display: none;
	}

	.dl-menu.dl-subview li.dl-subview,
	.dl-menu.dl-subview li.dl-subview .sub-menu,
	.dl-menu.dl-subview li.dl-subviewopen,
	.dl-menu.dl-subview li.dl-subviewopen>.sub-menu,
	.dl-menu.dl-subview li.dl-subviewopen>.sub-menu>li {
		display: block;
	}

	/* No JS Fallback */
	.no-js .nav-horizontal .dl-menu {
		position: relative;
		opacity: 1;
		transform: none;
	}

	.no-js .nav-horizontal li .sub-menu {
		display: block;
	}

	.no-js .nav-horizontal li.dl-back {
		display: none;
	}

	.no-js .nav-horizontal li>a:not(:only-child) {
		background: rgba(0, 0, 0, 0.1);
	}

	.no-js .nav-horizontal li>a:not(:only-child):after {
		content: '';
	}

	#menu-overlay {
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .7;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 90;
	}
}
