%container {
    @media (min-width: $screen-sm-min) {
      max-width : $container-sm;
    }
    @media (min-width: $screen-md-min) {
      max-width : $container-md;
    }
    @media (min-width: $screen-lg-min) {
      max-width : $container-lg;
    }
}
